@import url(./App.css);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url('./assets/cursor/cursor.png'), auto;

}

body {
  font-family: "Passion One", sans-serif;
  background-color: #f0f4f8;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}


/* HEADER */
header {
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: url(/src/assets/homepage.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/* LOGO */
header .logo img {
  height: 45px;
  width: 110px;
}

/* NAVBAR */
nav {
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
  position: absolute;
  left: 22%;
}

nav ul li {
  margin-left: 46px;
  font-size: 26px;
}

nav ul li a,
Link {
  cursor: url('./assets/cursor/pointer.png'), pointer;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
  color: #f1f0eefc;
  font-weight: bold;
}

nav ul li a:hover,
Link:hover {
  color: #fdfd25;
}

nav ul li a.active {
  color: #fdfd25;
}

.btn {
  display: flex;
  list-style: none;
  position: absolute;
  left: 91%;
}

.btn button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-left: 20px;
  border: none;
  background-color: #64c4ff;
  border-radius: 10px;
  height: 28px;
  width: 44px;
}

/* MAIN TEXTS */

/* Welcome */
.welcome {
  font-family: "Lilita One", sans-serif;
  font-style: italic;
  display: flex;
  position: absolute;
  left: 3%;
  top: 19%;
  font-size: 7rem;
  color: white;
}

.welcome span {
  position: relative;
  color: white;
  animation: scatter 1.75s infinite;
  text-shadow: #23221e 1px 0 10px;
}


.welcome span:nth-child(2n) {
  animation-delay: 0.3s;
}

.welcome span:nth-child(3n) {
  animation-delay: 0.15s;
}

.welcome span:nth-child(5n) {
  animation-delay: 0.4s;
}

.welcome span:nth-child(7n) {
  animation-delay: 0.25s;
}

@keyframes scatter {
  0% {
    top: 0;
  }

  50% {
    top: -10px;
  }

  100% {
    top: 0;
  }
}


/* TO */
.to {
  font-family: "Dr Sugiyama", cursive;
  display: flex;
  position: absolute;
  left: 33%;
  top: 33%;
  font-size: 4rem;
  color: white;
}

.to span {
  position: relative;
  animation: scatter 1.75s infinite;
  text-shadow: #504e47 1px 0 10px;
}

.to span:nth-child(2n) {
  animation-delay: 0.3s;
}

@keyframes scatter {
  0% {
    top: 0;
  }

  50% {
    top: -10px;
  }

  100% {
    top: 0;
  }
}

/* Konoha */
.konoha {
  font-family: "Lilita One", sans-serif;
  display: flex;
  position: absolute;
  left: 1%;
  bottom: 39%;
  font-size: 91PX;
  color: white;
}

.konoha span {
  position: relative;
  animation: scatter 1.75s infinite;
  text-shadow: #395507 1px 0 10px;
}

.konoha span:nth-child(2n) {
  animation-delay: 0.3s;
}

.konoha span:nth-child(3n) {
  animation-delay: 0.25s;
}

@keyframes scatter {
  0% {
    top: 0;
  }

  50% {
    top: -10px;
  }

  100% {
    top: 0;
  }
}

/* ATTENDANCE BTN */
@property --fill {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 100%;
}

.attendance {
  font-family: "Passion One", sans-serif;
  height: 47px;
  width: 119px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 18rem;
  top: 34rem;
  /* padding: 10px 20px; */
  font-size: 21px;
  color: #fff;
  background-color: #21405f;
  border: 2px solid #fff;
  border-radius: 1rem;
  cursor: url('./assets/cursor/pointer.png'), pointer;

  outline: 1px solid transparent;
  outline-offset: -8px;

  background-image:
    linear-gradient(-135deg,
      transparent var(--fill),
      #fff var(--fill));
  background-size: 100% 25%;

  transition: 0.4s ease-in-out 0.2s;
  transition-property: --fill, all;
}

.attendance:hover,
.attendance:focus-visible {
  --fill: 0%;

  color: #07071d;
  outline-color: currentColor;
  background-image:
    linear-gradient(transparent var(--fill),
      #b9e4f1 var(--fill));
  transition-delay: 0s;
}

.attendance-form {
  left: 6%;
  top: 70%;
  width: 350px;
  height: 68px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* I add this for remove up-dwn arraow in  input field */

.attendance-form input {
  border-radius: 6px;
  border: 1px solid white;
  margin-left: 27px;
  height: 43px;
  text-align: center;
}

.attendance-btn {
  cursor: url(/src/assets/cursor/pointer.png), pointer;
  left: 120px;
  top: 71px;
  position: absolute;
}

/*--------------------------------------- Media Queries ------------------------------*/

@media only screen and (max-width:1252px) {

  nav ul {
    left: 17%;
  }

  .welcome {
    top: 12%;
    font-size: 6rem;
  }

  .to {
    left: 38%;
    top: 25%;
  }

  .konoha {
    bottom: 46%;
    font-size: 75PX;
  }

  .attendance {
    left: 14rem;
    top: 28rem;
  }

  .attendance-form {
    left: 6rem;
  }

  .attendance-btn {
    top: 0rem;
    left: 20rem;
  }



}

/* MID DEVICES */

@media screen and (max-width:920px) {

  /* Header */

  header {
    height: 318px;
    padding: 0;
  }

  header .logo img {
    height: 31px;
    width: 65px;
  }

  nav ul {
    left: 139px;
  }

  nav ul li {
    margin-left: 21px;
    margin-top: 4px;
    font-size: 19px;
  }

  /* Hero Text */

  .welcome {
    top: 50px;
    font-size: 5.5rem;
  }

  .to {
    left: 362px;
    top: 122px;
    font-size: 2rem;
  }

  .konoha {
    left: 3px;
    top: 164px;
    font-size: 52px;
  }

  /* Attendance  */
  .attendance {
    left: 114px;
    top: 227px;
  }

  .attendance-form {
    width: 161px;
    height: 56px;
  }

  .attendance-form label {
    font-size: 11px;
    text-align: center;
  }

  .attendance-form input {
    height: 28px;
    width: 86px;
    margin: 4px;
  }


  .attendance-btn {
    top: 59px;
    left: 43px;
    height: 26px;
    width: 72px;
    font-size: 14px;
  }
}

/* SMALL DEVICES */
@media only screen and (max-width: 450px) {

  /* Header */

  header {
    height: 275px;
  }

  header .logo img {
    height: 24px;
    width: 56px;
  }

  nav ul {
    left: 67px;
  }

  nav ul li {
    margin-left: 14px;
    margin-top: 4px;
    font-size: 12px;
  }

  /* Hero Text */

  .welcome {
    top: 38px;
    font-size: 3rem;
  }

  .to {
    left: 194px;
    top: 80px;
    font-size: 1.5rem;
  }

  .konoha {
    left: 3px;
    top: 118px;
    font-size: 30px;
  }

  /* Attendance  */
  .attendance {
    height: 25px;
    width: 58px;
    font-size: 11px;
    left: 78px;
    top: 171px;
  }

  .attendance-form {
    width: 166px;
    height: 63px;
  }

  .attendance-form label {
    font-size: 11px;
    text-align: center;
  }

  .attendance-form input {
    height: 28px;
    width: 86px;
    margin: 4px;
  }


  .attendance-btn {
    top: 5px;
    left: 171px;
  }

  /* Notification Cards */

  .card {
    margin: 0 7px;
    padding: 4px;
    border-radius: 4px;
  }

  .card img {
    border-radius: 4px 4px 0 0;
  }

  .card h3 {
    font-size: 1rem;
  }

  .card p {
    font-size: 10px;
  }

  .notification-bar {
    padding: 20px 0;
  }

  /* Student Section */
  #student {
    padding: 0 10px;
    padding-top: 10px;
    padding-bottom: 40px;
  }

}



/* -------------------------------------------------------------------------------------------- */
/*                              DEVELOPED BY ADITYA THAKOR                                      */
/* -------------------------------------------------------------------------------------------- */